oops concept in python

In [1]:
# golble variable
# local variable

In [2]:
class class_name:
    pass
#class_name>>>>>>>> class name
#pass>>> placeholder
#class is a keyword

In [11]:
class Student:
    # class variables
    name = "gaurav"
    age = 20


obj_st = Student()

print(f"My name is {obj_st.name} and my age is {obj_st.age}")

My name is gaurav and my age is 20

In [9]:
class student:
    name = "gaurav" ###class vARIABLE
    age = 21
    def info(self):
        print("this is my first method")
        print("how are you all")

dt_obj= student()

In [10]:
class Student:
    name = "gaurav"  # class variable
    age = 21

    def info(self):
        print("This is my first method")
        print("How are you all")

# create object after class definition
dt_obj = Student()

# call the method using the object
dt_obj.info()

This is my first method
How are you all

INHERITENCE
/
TYPE OF INHERITANCE

single INHERITANCE
multiple INHERITANCE
multilevel INHERITANCE
hierarchical INHERITANCE
hybrid INHERITANCE

In [ ]:
#single INHERITANCE

In [30]:
class College:
    collage_name = "Raffles"
    collage_address = "Neemrana"


class Student(College):
    student_name = "Gaurav"
    student_id = "0034"


st_obj = Student()

print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

Raffles
Neemrana
Gaurav
0034

In [21]:
# Multiple Inheritance 

class Father:
    Father_name = "Rajnikant"
    Father_id = "1234"

class Uncle:
    Uncle_name = "Ram Dass"

class Child(Father, Uncle):  
    pass

obj_child = Child()

print("Father Name:", obj_child.Father_name)
print("Father ID:", obj_child.Father_id)
print("Uncle Name:", obj_child.Uncle_name)

Father Name: Rajnikant
Father ID: 1234
Uncle Name: Ram Dass

In [27]:
# Multilevel Inheritance Example

class Grandfather:
    Grandfather_name = "Hadari Lal"
    Grandfather_id = "1234"

class Father(Grandfather):
    Father_name = "Rajnikant"
    Father_id = "1254"

class Child(Father):  # Inheriting from Father (who inherits from Grandfather)
    pass

# Create object of Child
obj_child = Child()

# Accessing inherited attributes
print("Grandfather Name:", obj_child.Grandfather_name)
print("Grandfather ID:", obj_child.Grandfather_id)
print("Father Name:", obj_child.Father_name)
print("Father ID:", obj_child.Father_id)

Grandfather Name: Hadari Lal
Grandfather ID: 1234
Father Name: Rajnikant
Father ID: 1254

In [23]:
# polymorphism
print("hello")

hello

In [24]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [25]:
type(lst)

list